body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

 .a {
   background: #D8F2FE;
   height: 70px;
   padding: 10px;
 }

.b {
  background: #98DDFE;
  height: 70px;
  padding: 10px;
}

.c {
  background: #58C9FE;
  height: 70px;
  padding: 10px;
}

.d {
  background: #19B5FE;
  height: 70px;
  padding: 10px;
}

.e {
  background: #2E4052;
  height: 70px;
  padding: 10px;
}

.f {
  background: #141E30;
  height: 70px;
  padding: 10px;
}
